---
    import GlobalLayout from "../../layouts/GlobalLayout.astro"
---

<GlobalLayout name="About Me">
    <div id="Profile-Display">
        <h2 id="Profile-Title">Profile</h2>
        <div id="Profile-Stuff">
            <img id="PicOfMEEEEE" alt="image of me goes here" src="me.jpg">
            <div id="Profile-Desc"><h3>Jose Ibarra-Martinez</h3><h4>Sophmore - Parlier High School</h4><h4>Class of 2027</h4></div>
            <div id="Profile-Txt">Hello, im jose. This website is for school. I currently am part of <a href="https://parlier-njrotc.github.io/">NJROTC</a> and the cyberpatriot team of the unit (somewhat atlest)</div>
        </div>
    </div>
    <div>
        <h2 id="Life-Title">My Life</h2>
        <div id="Life-Items">
                <div>
                    <h3>Family</h3>
                    <ul>
                        <li>My Mom</li>
                        <li>My Dad</li>
                        <li>My Little Sister</li>
                        <li>My Little Brother</li>
                        <li>My Cousin</li>

                    </ul>
                </div>
            <div>
                <h3>Friends</h3>
                <h4>(Name Anonymous)</h4>
                <ul>
                    <li>Saul "Goodman"</li>
                    <li>Ivan "The terrible"</li>
                    <li>Ruben "Rooster"</li>
                    <li>Christian "Roach"</li>
                </ul>
            </div>
            <div>
                <h3>Hobbies</h3>
                <ul>
                    <li>Programming & Game Dev <img class="Small-Representation" src="/hobbies/code-svgrepo-com.svg"></li>
                    <li>IT Work <img class="Small-Representation" src="/hobbies/file-folder-done-svgrepo-com.svg"></li>
                    <li>Teaching (kinda, its a mess rn) <img class="Small-Representation" src="/hobbies/professor-svgrepo-com.svg"></li>
                </ul>
            </div>
            <div>
                <h3>Favorites</h3>
                <ul>
                    <li>Food: Pizza <img class="Small-Representation" src="/likes/patrona-supreme.webp"></li>
                    <li>Drink: COFFEEEE <img class="Small-Representation" src="/likes/1092812945_1cb79b7d57.jpg"> </li>
                    <li>Topic: Science & Aerospace  <img class="Small-Representation" src="/likes/rocket.svg"> </li>
                    <li>Getting sleep after a long time <img class="Small-Representation" src="/likes/sleep-svgrepo-com(1).svg"></li>
                </ul>
            </div>
        </div>
    </div>
    <style>
        #Life-Title{
            border: 1px solid yellowgreen;
            margin-inline: 2vw;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 10px;

            background: linear-gradient(25deg,#a1ee4a,#29f845);
        }
        #Life-Items{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            align-items: center;
            justify-items: center;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Small-Representation{
            width:35px;
        }
    </style>
    <br>
    <hr>
    <br>
    <div>
        <h3>Dream Colleges</h3>
        <h3>(By difficulty)</h3>
        <div id="uni-list">
            <div>
                <h4>UC Merced</h4>
                <img class="show-uni" src="/universities/merced.jpg">
            </div>
            <div>
                <h4>UC San Diego</h4>
                <img class="show-uni" src="/universities/ucsandiego.png">
            </div>
            <div>
                <h4>UCLA</h4>
                <img class="show-uni" src="/universities/ucla.png">
            </div>
        </div>
    </div>
    <style>
        .show-uni{
            width: 100px;
        }
        #uni-list{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            gap:15vw;
        }
    </style>
    <br>
    <hr>
    <br>
    <div style="display: grid; align-items: center; justify-content: center; text-align: center;">
        <h3>Inpirational Individual</h3>
        <h4>My Mom</h4>
        <h5>She was the one who built me into who I am</h5>
        <h5>I would like to become more like her by being less lazy and build more worth ethic</h5>
        <img style="width:10vw;" src="public/mother-and-son-playing-with-cubes-svgrepo-com.svg">"Gracias Ma :)"
    </div>
    <script>
        (document.getElementById("PicOfMEEEEE")! as HTMLImageElement).src = `me${Math.ceil(Math.random()*2)}.jpeg`
    </script>
    <style>
        img{
            width: 70%;

            border-radius: 5px;

            
        }
        #Profile-Display{
            display: grid;

            padding-block: 50px;
            background-color: slategray;

            border: 1px solid white;
            border-radius: 10px;

            margin: 10vmin;

            padding-inline: 30px;
        }
        #Profile-Title{
            display: grid;

            background-color: darkslategrey;

            margin: auto;
            margin-bottom: 50px;

            padding:1vmin;
            padding-inline: 20vmin;

            border-radius: 5px;
        }
        #Profile-Stuff{
            display: grid;
            grid-template-areas: 
            "img dec"
            "img txt"
            ;
            grid-template-columns: 1fr 1fr;

            align-items: center;
            justify-items: center;
        }
        #Profile-Stuff img{
            grid-area: img;
        }
        #Profile-Desc{
            grid-area: dec;
        }
        #Profile-Txt{
            grid-area: txt;
        }
    </>

</GlobalLayout>
