---





interface Props {
    license:"Apache" | "MIT";
}

const { license } = Astro.props

const licenseInfo = {
    "Apache":[
        "Apache License 2.0",
        "https://www.apache.org/licenses/LICENSE-2.0"
    ],
    "MIT":[
        "The MIT License",
        "https://choosealicense.com/licenses/mit/"
    ]
}

---

<style>
    @import "tailwindcss";

/* copied from parlier njrotc lmao*/


@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin Sans.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open Sans.ttf");
}
@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-VariableFont_wght.ttf");
}
:root{
    --font-color:black;
    --glow-color:rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    :root{
        --font-color:white;
        --glow-color:rgb(0, 89, 255);
    }
    body{
        background-color: #27282b;
    }
}

html,body{
    padding: 0;
    margin: 0;
    font-family:"Open Sans";
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
}
*{
    margin:0;
    padding:0;
}

h1{
    font-family: "Josefin Sans";
    font-size: 4em;
    text-shadow: var(--glow-color) 0px 0 15px;

    text-align: center;
}
h2{
    font-family:"Josefin Sans";
    font-size: 3em;

    text-align: center;

}
h3{
    font-family:"Rubik";
    font-size: 2em;
    text-align: center;

}

h4{
    font-family: "Josefin Sans";
    font-size: 1em;
    text-decoration: underline;
    text-decoration-style:dotted;
    text-align: center;

}
h5{
    font-family: "Josefin Sans";
    text-align: center;
    font-size: 1em;
}
h6{
    font-family: "Josefin Sans";
    text-align: center;
    font-size: 1em;
}


hr{
    margin-inline: 5vw;
}

footer{
    background-color: oklch(0.279 0.041 260.031);

    display: grid;

    
}
</style>
<footer>
    <div>
        <h3>Cyborgnetical</h3>
        <nav role="navigation">
            <a href="https://www.youtube.com/@Cyborgnetical">Youtube</a>
            <a href="https://github.com/Cyborgnetical">GitHub</a>
            <a href="https://gitlab.com/Cyborgnetical">GitLab</a>

        </nav>
    </div>

    <div>
        <p>*All Code in this website is under <a href="https://choosealicense.com/licenses/mit/">The MIT license</a></p>
        <p>*All text and image content <i><b>within this webpage</b></i> is under the <a href={licenseInfo[license][1]}>{licenseInfo[license][0]}</a> license</p>
        <style>
            a{
                text-decoration: underline;
                color:rgb(169, 233, 233);
            }
        </style>
    </div>
</footer> 