---
    import '/src/styles/global.css';
    import './Header.less';
---

<header class="flex justify-between">
    <div class="flex-none">
        <h3>Cyborgnetical</h3>
        <hr>
        <h4>High School Hobbyist</h4>
    </div>
    <nav>
        <a>Home</a>
        <a>Projects</a>
        <s><a>GitLabs</a> </s>
        <a href="/notes">School Notes</a>
        <s><a>Code Snippets</a></s>
    </nav>
</header>

