---
    
---


<style lang="less">
    header{
        display:grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        nav{
            padding-inline: 20px;
            padding-block:10px;
            transition: 350ms;
            a{
                position: relative;
                color:lightcyan;
                padding-inline: 1vw;
                transition: 350ms;
                font-size: 0.8em;

                text-decoration-thickness: 3px;

                &:visited{
                    color:lightcyan;
                }
                &:hover{
                    color:lightblue;
                }
            }
        }
        div{
            place-self: center;
            text-align: center;
        }
        
    }


    .border-strike::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px; /* Controls line thickness */
        background-color: currentColor;
    }
    .border-strike::after{
        content: "[Comming Soon]";
    }
</style>

<header>
    <div>
        <h3>Cyborgnetical</h3>
        <hr>
        <h4>High School Hobbyist</h4>
    </div>
    <nav>
        <a href="/">Home</a>
        <a class="border-strike">About Me</a>
        <a class="border-strike">Work</a>
        <a href="/notes">Notes</a>
        <a class="border-strike">Contact</a>
    </nav>
</header>


<style>
    nav{
        border-bottom: 4px whitesmoke solid;
    }
</style>

