<header>
    
    <a href="/">
        <img src="/favicon.ico">
        <div>
            <h1 id="header-internalTitle">Cyborgnetical</h1><hr><span>High School Hobbist</span>
        </div>
    </a>
    <nav id="header-internalNav">
        <a class="header-interalLinks" href="/">Home</a>
        <a class="header-interalLinks" href="/projects">Projects</a>
        <a class="header-interalLinks" href="/about me">About Me</a>
        <a class="header-interalLinks" href="https://www.youtube.com/@Cyborgnetical">Youtube</a>
        <a class="header-interalLinks" href="https://github.com/Cyborgnetical">Github</a>
        <a class="header-interalLinks" href="https://gitlab.com/Cyborgnetical">Gitlab</a>
    </nav>
</header>


<style>
    @font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin Sans.ttf");
    }



    header{
        position:sticky;
        top:0px;
        max-width:100vw;
        width: 100vw;

        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2vw;
        align-items: center;

        box-sizing: border-box;
        padding-inline:5vw;

        height: 100px;
        background: linear-gradient(25deg,darkblue,cyan);

        z-index: 999;
    }
    header img{
        image-rendering: crisp-edges;
        height: 60px;
    }
    header > a{
        display: flex;
        column-gap: 1vw;
        color:white;
        text-decoration: none;
    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly
    }
    header nav{
        background-color: #0056B2;
        border-radius: 5px;
        padding-block:5px;
    }
    header > nav > a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 5em;
        padding-inline: 1em;
        height: 30px;

        font-size: 16px;
    }
    #header-internalTitle{
        font-family: "Josefin Sans";
        font-weight:600;
        margin: none;
        font-size: 40px;
    }
</style>