<header>
    
    <a href="/">
        <img src="/favicon.ico">
        <div>
            <h1>Cyborgnetical</h1><hr><span>High School Hobbist</span>
        </div>
    </a>
    <nav>
        <a class="header-interalLinks" href="/">Home</a>
        <a class="header-interalLinks" href="/projects">Projects</a>
    </nav>
</header>


<style>
    @font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin Sans.ttf");
    }



    header{
        position:sticky;
        top:0px;
        max-width:100vw;
        width: 100vw;

        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2vw;
        align-items: center;

        box-sizing: border-box;
        padding-inline:5vw;

        height: 100px;
        background: linear-gradient(25deg,darkblue,cyan);

        z-index: 999;
    }
    header img{
        image-rendering: crisp-edges;
        height: 60px;
    }
    header > a{
        display: flex;
        column-gap: 1vw;
        color:white;
        text-decoration: none;
    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly
    }
    header > nav > a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 5em;
        padding-inline: 1em;
        height: 30px;
    }
    header > nav > a::before, header > nav > a::after{
        content: "";
        position: absolute;
        width: 50%;
        height: 3px;
        background-color: white;
        transition: 200ms;
    }
    header > nav > a::before{
        top:0px;
        left:0px;
    }
    header > nav > a::after{
        bottom:0px;
        right:0px;
    }
    header > nav > a:hover::before{
        top:0px;
        left:-20px;
    }
    header > nav > a:hover::after{
        bottom:0px;
        right:-20px;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "Josefin Sans";
        font-weight:600;
        margin: none;
    }
</style>