---
import GlobalLayout from "../layouts/GlobalLayout.astro"
import Top from "../components/Top.astro"
---

<GlobalLayout name="Home">
	<Top>
		<div>
			<h1 style="font-size: 48px;">Hello im, Cyborngetical!</h1>
			<span>
				Web developer. learning backend, expanding in front end  <br>
			</span>
		</div>
		<img src="/backwards facing.png" id="looking-forward">
		<div id="stars">

		</div>
	</Top>
	<div>
		<h1>About me</h1>
		<span>
			<h2>Story</h2>
			I started learning about web development during quarentine because I was bored. 
			I became good at it and made a game but never got that far, once school resumed and I got homework I quit for a while.
			Then one of my teachers said that they needed a website so I took the job, and with a lot of help from my freinds I made a good website.
			Fast foward, a month and now this snowballed into my life now, I get to to what I like and what I am good at, with a good reason.
			One day I would like to become an Aerospace enginner and make my own models, experimenting with designs and watching my creations go.
		</span>
<h1> Ill update my site soon with more info, thanks :) </h1>
	</div>

</GlobalLayout>
<script>
	for(let i = 0;i<15;i++){
		let star = document.createElement("img")
		star.src = "/Star.png"
		star.className = "star"
		star.style.left = `${Math.random()*100}%`
		star.style.top = `${Math.random()*100}%`
		
		document.getElementById("stars")?.appendChild(star)
	}
</script>
<style is:global>
	.star{
		position: absolute;
		image-rendering:pixelated;
		width: 30px;
	}
</style>
<style>
	#background-img{
		position: absolute;
		top:0px;
		left: 0px;
		width: 100vw;
		z-index: -1;
	}
	#looking-forward{
		position: absolute;
		bottom: 0px;
		right: 5vw;
		width: 25vw;
		image-rendering: pixelated;
	}
	#stars{
		position: absolute;
		top:0px;
		left: 0px;
		width: 100vw;
		height: 600px;
	}
</style>
