---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <h1>Hello, Welcome to my website</h1>
    <p>
        Right now I don't have muched planned so ill leave it as it is
    </p>
</Layout>
