---
    import Layout from "../layouts/Layout.astro"
---

<Layout name="Home">
    <h1>Rebuilindg...</h1>
    <h2>Please Comeback Soon!</h2>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, vitae aperiam et facere quo in commodi aliquid quas, necessitatibus inventore perspiciatis labore saepe! Modi magni commodi quisquam fugiat labore ratione.
</Layout>