---
    import "../common/common.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyborgnetical | Home</title>
</head>
<body>
    <div class="notice">*Hello Mr. if you are here from avid the look at the <a href="/about me">About Me</a> page</div>
    <header>
        <h1 id="Web-title">Cyborgnetical</h1>
        <h2 id="Web-subtitle">High School Hobbyist</h2>

        <h3 id="Web-links-title">Links</h3>
        <nav id="Web-links">
            <a href="/projects">Projects<br> <img class="Present-Icon" src="/icons/project-svgrepo-com.svg"> </a>
            <a href="/about me">About Me<br> <img class="Present-Icon" src="https://www.svgrepo.com/show/247452/portfolio-suitcase.svg"> </a>
            <a href="https://www.youtube.com/@Cyborgnetical">Youtube <br><img class="Present-Icon" src="/icons/youtube-svgrepo-com.svg"></a>
            <a href="https://github.com/Cyborgnetical">Github <br><img class="Present-Icon" src="https://www.svgrepo.com/show/439171/github.svg"></a>
            <a href="https://gitlab.com/Cyborgnetical">Gitlab <br><img class="Present-Icon" src="/icons/gitlab-svgrepo-com.svg"></a>
        </nav>
        <span id="Web-scroll-down">(Adding more info soon)</span>
        <span id="Web-down-arrow">	&darr; </span>
    </header>
    <br>
    <div id="Numbers-Display">
        <h2 id="Numbers-Title">Numbers:</h2>
        <div id="Numbers-Stuff">
            <span>Status:<br>Lazy</span>
            <span>Years of Programming:<br>1</span>
            <span>Current Projects:<br>3</span>
            <span>Commits on Github:<br>460</span>
            <span>Successful Projects:<br>-2</span>
            <span>Hours of Sleep:<br>4</span>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="Profile-Display">
        <h2 id="Profile-Title">Profile</h2>
        <div id="Profile-Stuff">
            <img alt="image of me goes here">
            <div id="Profile-Desc"><h3>Jose Ibarra-Martinez</h3><h4>Sophmore - Parlier High School</h4><h4>Class of 2027</h4></div>
            <div id="Profile-Txt">Hello, im jose. This website is for school. I currently am part of <a href="https://parlier-njrotc.github.io/">NJROTC</a> and the cyberpatriot team of the unit (somewhat atlest)</div>
        </div>
    </div>
    <style>
        .notice{
            position: absolute;
            font-size: 10px;
        }
        .Present-Icon{
            width: 25px;
        }
        body,html *{
            margin:0;
            color: white;
        }
        header{
            margin:0;
            padding:0;

            height: 95vh;

            display: grid;
            grid-template-areas: 
            "a q c"
            "a w c"
            "a e c"
            "a r c"
            "a t c"
            "a y c"
            ;

            grid-template-rows:
            1fr
            0.5fr
            3fr
            2fr
            1fr
            0.5fr
            ;
            align-items: center;
            justify-content: center;


            background: linear-gradient(black,rgb(5, 5, 59),rgb(5, 5, 59),rgb(5, 5, 59), rgb(83, 10, 83));
            background-repeat: no-repeat;
        }
        #Web-title{
            grid-area:e;
            text-align: left;
            align-self: self-end;
        }
        #Web-subtitle{
            grid-area:r;
            border-top: 1px solid white;
            text-align: left;
            align-self: self-start;
            padding-top: 10px;

            margin-top: 15px;

            /* haha lol */
            transform: rotate(3deg);
        }
        #Web-links-title{
            grid-area: q;
            align-self: self-end;
        }
        #Web-links{
            grid-area: w;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: self-start;

            text-align: center;

            gap:2vw;

        }
        #Web-scroll-down{
            grid-area: t;
            text-align: center;
            align-self: self-end;
        }
        #Web-down-arrow{
            grid-area: y;
            text-align: center;
            align-self: self-end;
        }




        #Numbers-Display{
            display: grid;
        }
        #Numbers-Stuff{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2vw;
        }
        #Numbers-Stuff *{
            text-align: center;
        }

        #Profile-Display{
            display: grid;
        }
        #Profile-Title{
            display: grid;
        }
        #Profile-Stuff{
            display: grid;
            grid-template-areas: 
            "img dec"
            "img txt"
            ;
            grid-template-columns: 1fr 1fr;
        }
        #Profile-Stuff img{
            grid-area: img;
        }
        #Profile-Desc{
            grid-area: dec;
        }
        #Profile-Txt{
            grid-area: txt;
        }
    </style>
</body>
</html>