---
import GlobalLayout from "../layouts/GlobalLayout.astro"
import Top from "../components/Top.astro"
---

<GlobalLayout name="Home">
	<Top>
		<div>
			<h1 style="font-size: 48px;">Hello im, Cyborngetical!</h1>
			<span>
				Web developer. learning backend, expanding in front end  <br>
			</span>
		</div>
	</Top>
	<div>
		<h1>About me</h1>
		<span>
			I make websites in my free time
		</span>
	</div>

</GlobalLayout>
