<div id="top-title-content">
    <slot />
</div>


<style>
    #top-title-content{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("/background.png");
        background-repeat: no-repeat;
        background-size: cover;

        max-width: 100vw;
        width: 100vw;
        height: 600px;
    }
</style>