---

import Header from '../components/required/header.astro';


interface Props {
    name:string;
}

const {name} = Astro.props
---


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyborgnetical | {name}</title>
    </head>
    <body style="margin:0px; padding:0px; background-color:rgb(65, 65, 65);">
        <Header></Header>
        <slot></slot>
        <style is:global>
            body,html,body *{
                margin:0px;
                padding:0px;
                color:white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            }
            h1,h2,h3,h4,h5,h6{
                font-family: "Josefin Sans";
                font-weight:600;
            }

        </style>
    </body>
</html>